body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  .container{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  
  .search-input {
    display: block;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
  }
  
  li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li a {
    text-decoration: none;
    color: #333;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  .main-button{
    color: aquamarine;
  }
  /* Адаптивность для мобильных устройств */
  @media (max-width: 480px) {
    .search-input {
      width: 90%;
      font-size: 14px;
      padding: 8px;
    }
  
    ul {
      width: 90%;
    }
  
    li {
      font-size: 14px;
      padding: 8px;
    }
  }
  