.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .authorsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  
  .authorCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .authorCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .authorPicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .authorName {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
  }
  
  .authorDescription {
    font-size: 1em;
    margin: 10px 0;
    color: #666;
  }
  
  .authorTelegramLink {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #2eaccc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .authorTelegramLink:hover {
    background-color: #5627ae;
  }
  
  .telegramIcon {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }

  .authorSpecialization {
    font-size: 1em;
    margin: 10px 0;
    color: #666;
  }
  
  /* Адаптивность для мобильных устройств */
  @media (max-width: 480px) {
    .authorCard {
      max-width: 100%;
      padding: 15px;
    }
  
    .authorPicture {
      width: 80px;
      height: 80px;
    }
  
    .authorName {
      font-size: 1.2em;
    }
  
    .authorDescription, .authorSpecialization {
      font-size: 0.9em;
    }
  }
  @media (max-width: 768px) {
    .authors-container {
      flex-direction: column;
      align-items: center;
    }
  
    .author-card {
      width: 80%;
    }
  }